@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);*,.latestitem2-left ul,.underlotto-text-item2 ul,ul {
    padding: 0;
    margin: 0;
    list-style-type: none
}

.header-btn ul li:first-child a,.header-btn ul li:nth-child(2) a {
    font-size: 16px;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    transition: .3s
}

.under824-lotto-gsoe-part,.under824-lotto-sprimpt {
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 25px
}

.formpart input,body {
    font-family: Poppins,sans-serif
}

body {
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    color: #333
}

a,a:hover {
    text-decoration: none
}

.topheader-area {
    background-color: #fff;
    padding: 6px 0
}

.topheader-part p {
    color: #000;
    font-size: 13px;
    margin: 0;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic
}

.topheader-part p img {
    max-width: 100%;
    display: block;
    margin-right: 4px
}

.mainunder800tollo-area {
    background-image: url("img/bg1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0
}

.header-area {
    padding: 16px 0;
    background-color: rgba(255,255,255,.1);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: 0 8px 32px rgba(0,0,0,.1);
    backdrop-filter: blur(50px)
}

.headerbg-area {
    background-color: #371240
}

.header-part {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header-logo img,.latestitem1-left img,.under824-lotto-gsoe-left img {
    max-width: 100%;
    display: block
}

.header-btn ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right
}

.header-btn ul li {
    display: inline-block;
    padding-left: 10px
}

.header-btn ul li:first-child a {
    color: #fff;
    width: 85px;
    display: block;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #fff
}

.formpart input[type=submit]:hover,.header-btn ul li:first-child a:hover,.herotop-left ul li:first-child a:hover,.latestitem1-right a:hover,.under826-lotto-reviewright a:hover {
    background-color: #fff;
    color: #000
}

.header-btn ul li:nth-child(2) a {
    color: #fff;
    width: 115px;
    display: block;
    background-color: #6a0dad;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #6a0dad
}

.header-btn ul li:nth-child(2) a:hover {
    background-color: #6a0dad;
    color: #fff
}

.container {
    max-width: 1280px;
    display: block;
    margin: auto;
    padding: 0 30px
}

.under824-lotto-gsoe-area {
    padding: 100px 0 30px;
    background: linear-gradient(360deg,#1a001f 0,#040404 93.7%)
}

.under824-lotto-gsoe-heading,.under824-lotto-podul-heading,.under824-lotto-sprhd {
    padding-bottom: 50px
}

.under824-lotto-gsoe-heading h2,.under824-lotto-sprhd h2,.under827-lotto-latesthd h2 {
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    margin: 0;
    text-transform: capitalize;
    text-align: center
}

.under824-lotto-gsoe-part {
    display: grid;
    grid-column-gap: 25px;
    justify-content: space-around
}

.under824-lotto-gsoe-item {
    background: linear-gradient(268.27deg,#42005b -2.1%,#a907e7 110.4%);
    padding: 30px 25px;
    border-radius: 10px;
    display: flex;
    height: 220px;
    box-sizing: border-box;
    position: relative
}

.under824-lotto-gsoe-left {
    width: 60%;
    padding-right: 25px
}

.under824-lotto-gsoe-left p {
    color: #ffffff;
    font-size: 18px;
    margin: 0;
    line-height: 26px;
    padding-top: 10px;
    font-weight: 400;
    font-style: italic;
    text-shadow: 0px 3px 5px;
}

.under824-lotto-gsoe-right {
    width: 40%;
    display: grid;
    align-items: center
}

.under824-lotto-gsoe-right img {
    max-width: 100%;
    display: block;
    margin: auto;
    height: 140px
}

.under824-lotto-gsoebg2 {
    background: linear-gradient(268.27deg,#42005b -2.1%,#a907e7 110.4%);
}

.under824-lotto-gsoebg3 {
    background: linear-gradient(103.68deg,#c849ee 8.92%,#25002d 98.71%)
}

.under824-lottogsoeimg {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 55%
}

.under826-lotto-reviewtext h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 16px;
    text-transform: capitalize;
    text-align: center
}

.under826-lotto-reviewtext p {
    color: #fff;
    font-size: 16px;
    margin: 0;
    font-weight: 300;
    line-height: 26px;
    text-align: center
}

.under826-lotto-reviewtext img {
    max-width: 100%;
    display: block;
    margin: 20px auto auto;
    height: 24px
}

.under824-lottosupport-area {
    background: linear-gradient(360deg,#040404 -92.01%,#1a001f 93.7%);
    padding: 60px 0 100px
}

.under824-lotto-ltypt {
    border-radius: 10px;
    background-color: #380060;
    padding: 45px;
    align-items: center;
    margin-bottom: 110px;
    position: relative
}

.under824-lotto-ltypttx h2 {
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    margin: 0;
    line-height: 65px;
    padding-bottom: 35px;
    text-transform: capitalize
}

.under824-lotto-ltypttx p {
    color: #fff;
    font-size: 15px;
    margin: 0;
    font-weight: 300;
    line-height: 27px
}

.ballsimg2 {
    position: absolute;
    right: 0;
    height: 311px;
    bottom: 0
}

.under824-lotto-sprimpt {
    display: grid;
    grid-column-gap: 28px;
    align-items: center;
    justify-content: space-around
}

.under824-lotto-spritem {
    width: 100%
}

.under824-lotto-spritemimg {
    background-color: #2c1a30;
    padding: 15px;
    box-sizing: border-box;
    height: 335px;
    border-radius: 15px 15px 0 0;
    overflow: hidden
}

.under824-lotto-spritem img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 13px
}

.under824-lotto-spritem-text {
    background: linear-gradient(268.27deg,#42005b -2.1%,#a907e7 110.4%);
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0 0 15px 15px
}

.under824-lotto-spritem-text p {
    color: #fff;
    font-size: 16px;
    margin: 0;
    font-weight: 400;
    text-align: center
}

.under824-lotto-podulsptsvs-area {
    background-image: url("img/bg4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0
}

.under824-lotto-podul-heading h2,.under825-lotto-sptsvshd h2 {
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    text-transform: capitalize
}

.under824-lotto-podul-item-part {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 25px;
    justify-content: space-around;
    grid-row-gap: 25px
}

.under824-lotto-podul-item {
    border-radius: 20px;
    background-color: #ffffff21;
    padding: 35px 25px 40px;
    box-sizing: border-box;
    height: 100%
}

.under824-lotto-podul-item-icon {
    width: 100px;
    height: 100px;
    display: grid;
    margin: 15px auto 35px;
    border-radius: 50%;
    background-color: #6e0086;
    text-align: center;
    line-height: 100px;
    align-items: center;
    justify-content: center
}

.under824-lotto-podul-item-icon img {
    height: 50px;
    display: inline-block
}

.under824-lotto-podul-item p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    margin: 0;
    line-height: 24px
}

.under825-lotto-sptsvs {
    padding-top: 90px
}

.under825-lotto-sptsvshd,.underlotto-text-item1,.underlotto-text-item2 {
    padding-bottom: 35px
}

.under825-lotto-sptsvs-part {
    display: flex;
    gap: 45px
}

.under825-lotto-sptsvs-box {
    background-color: #6e0086;
    border: 1px solid #6e0086;
    border-radius: 10px;
    text-align: center;
    padding: 40px 60px;
    box-sizing: border-box;
    width: 50%
}

.under825-lotto-sptsvs-box h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    text-transform: capitalize;
    padding-bottom: 20px
}

.under825-lotto-sptsvs-box p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0
}

.under825-lotto-sptsvs-box a {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    background-color: #fff;
    width: 141px;
    height: 50px;
    display: block;
    margin: 35px auto auto;
    line-height: 50px;
    transition: .3s;
    border: 1px solid #fff
}

.footer-text p,.underlotto-rpegambling p {
    line-height: 28px;
    color: #d0ccd3;
    font-size: 16px
}

.under825-lotto-sptsvs-box a:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #000
}

.under825-lotto-sptsvsfaq {
    background-color: #00000000;
    border: 1px solid #fff
}

.under825-lotto-sptsvsfaq a {
    background-color: #1c1c1c;
    color: #fff
}

.under825-lotto-sptsvsfaq a:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff
}

.footer-area {
    background-color: #140023;
    padding: 80px 0 25px
}

.underlotto-rpegambling {
    padding-bottom: 25px
}

.underlotto-rpegambling h2 {
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    margin: 0;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 35px
}

.footer-copyright p,.footer-text p,.underlotto-rpegambling p {
    font-weight: 300;
    margin: 0;
    text-align: center
}

.underlotto-rpegambling p {
    padding-bottom: 30px
}

.footer-text {
    padding-bottom: 40px
}

.underlotto-rpegambling p a {
    color: #fff;
    text-decoration: underline;
    font-weight: 500
}

.footer-logos ul,.footer-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center
}

.footer-logos ul li {
    display: inline-block;
    padding: 0 4px
}

.footer-logos ul li:first-child,.footer-nav ul li:first-child {
    padding-left: 0
}

.footer-logos ul li:last-child,.footer-nav ul li:last-child {
    padding-right: 0
}

.footer-logos ul li a img {
    height: 68px;
    display: block;
    border-radius: 10px
}

.footer-nav {
    padding: 45px 0
}

.footer-nav ul li {
    display: inline-block;
    padding: 0 16px
}

.footer-nav ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: block;
    text-decoration: underline;
    transition: .3s
}

.footer-nav ul li a:hover {
    color: #fc7600
}

.footer-copyright {
    border-top: 1px solid #5a4c65;
    padding-top: 25px
}

.footer-copyright p {
    color: #ffffffc7;
    font-size: 14px;
    line-height: 20px
}

.underlotto-textarea {
    background-color: #290633;
    padding: 80px 0
}

.underlotto-text-heading {
    padding-bottom: 80px
}

.underlotto-text-heading h2 {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    background: #f8ffe8;
    background: linear-gradient(to right,#fff 35%,#999 96%,#999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.underlotto-text-heading p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding-top: 16px
}

.underlotto-text-item1 h3,.underlotto-text-item2 h3 {
    color: #ffffffc9;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 25px
}

.underlotto-text-item1 p,.underlotto-text-item2 h4,.underlotto-text-item2 h5,.underlotto-text-item2 ul li p {
    color: #ffffffc9;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px
}

.underlotto-text-item1 p {
    margin: 0
}

.underlotto-text-item2 ul li {
    display: block;
    padding-bottom: 7px
}

.underlotto-text-item2 ul li:last-child {
    padding-bottom: 0
}

.underlotto-text-item2 ul li span {
    width: 5px;
    height: 5px;
    display: block;
    background-color: #fff;
    border-radius: 30px
}

.underlotto-text-item2 ul li p {
    margin: -14px 0 0;
    padding-left: 18px
}

.underlotto-text-item2 h4 {
    margin: 0;
    padding-bottom: 12px
}

.underlotto-text-item2 h5 {
    margin: 0;
    padding-bottom: 0
}

.form-area {
    background-color: #16011a;
    padding: 80px 0 150px
}

.formbox {
    width: 552px;
    display: block;
    margin: auto;
    border-radius: 10px;
    background-color: #6e0086;
    padding: 65px 60px;
    box-sizing: border-box
}

.formheading,.maincheckbox {
    padding-bottom: 45px
}

.formheading h2 {
    color: #fff;
    font-size: 34px;
    text-align: center;
    font-weight: 600
}

.formpart input {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    padding: 17px 18px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #750d8c;
    outline: 0;
    border: 1px solid #fff
}

.formpart input::placeholder {
    font-family: Poppins,sans-serif;
    color: #ffffff61;
    font-size: 16px;
    font-weight: 400
}

.formpart input[type=submit] {
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s
}

.fromitems p {
    color: #ffffff61;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    font-style: italic;
    font-weight: 300
}

.fromitem3 h5,.fromitem3 h6 {
    line-height: 22px;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    text-align: center
}

.fromitem3 {
    padding-top: 25px
}

.fromitem3 h6 {
    color: #ffffff80
}

.fromitem3 h6 a {
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-left: 3px;
    transition: .3s
}

.fromitem3 h5 a:hover,.fromitem3 h6 a:hover {
    color: #fff;
    border-bottom: 1px solid #fff
}

.fromitem3 h5 {
    color: #ffffff80;
    padding-top: 10px
}

.fromitem3 h5 a {
    color: #ffffff80;
    border-bottom: 1px solid #ffffff80;
    transition: .3s
}

.checkboxpart {
    display: block;
    position: relative;
    padding-left: 39px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff80;
    font-size: 16px;
    line-height: 34px;
    font-weight: 300
}

.checkboxpart a,.forgotps p a {
    color: #fff;
    text-decoration: underline
}

.checkboxpart input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #ffffff00;
    border: 2px solid #ffffff60;
    border-radius: 2px
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.checkboxpart input:checked~.checkmark:after {
    display: block
}

.checkboxpart .checkmark:after {
    left: 8px;
    top: 1px;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.password-container {
    position: relative;
    display: flex;
    align-items: center
}

.password-container input {
    padding-right: 40px;
    width: 100%
}

.toggle-password {
    position: absolute;
    right: 12px;
    cursor: pointer;
    background: 0 0;
    border: none;
    width: 24px;
    height: 24px;
    top: 17px
}

.toggle-password img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(98%) saturate(0%) hue-rotate(2deg) brightness(104%) contrast(102%);
    width: 20px;
    height: 20px
}

.fromitems {
    padding-bottom: 10px
}

.forgotps {
    margin-top: -8px;
    padding: 0 0 25px
}

.hero-area {
    background-image: url(img/bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 80px
}

.herotoppart {
    display: flex;
    align-items: center;
    gap: 50px
}

.herotop-left,.under826-lotto-reviewleft {
    width: 60%
}

.herotop-right,.under826-lotto-reviewright {
    width: 40%
}

.herotoprt-box {
    position: relative;
    height: 450px;
    border: 1px solid #8f00f5;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    align-items: center
}

.heroimg {
    width: 100%;
    display: block;
    height: 100%;
    position: absolute;
    top: 0
}

.herotop-left h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    line-height: 85px;
    background: #f8ffe8;
    background: linear-gradient(to right,#fff 0,#999 96%,#999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px
}

.herotop-left p {
    color: #ffffffde;
    font-size: 17px;
    margin: 0;
    font-weight: 400;
    line-height: 34px
}

.herotop-left ul {
    padding: 75px 0 0;
    margin: 0;
    list-style-type: none
}

.herotop-left ul li {
    display: inline-block;
    margin-right: 15px
}

.herotop-left ul li:last-child {
    margin-right: 0
}

.herotop-left ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #fc7600;
    display: block;
    line-height: 50px;
    text-align: center;
    border: 2px solid #fc7600;
    box-sizing: border-box;
    transition: .3s
}

.herotop-left ul li a:hover {
    background-color: #000;
    color: #fff
}

.herotop-left ul li:first-child a {
    background-color: #1c1c1c;
    color: #fff;
    border: 2px solid #fff;
    transition: .3s
}

.herototimerbox {
    display: block;
    position: relative;
    z-index: 999;
    padding: 35px;
    box-sizing: border-box
}

.herototimerbox-text h2 {
    font-size: 90px;
    font-weight: 600;
    text-transform: uppercase;
    background: -webkit-linear-gradient(50deg,#d9108b 30%,#d9108b 42%,#d9108b 80%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
    color: #fff;
    text-align: center
}

.herototimerbox-text h2 sub,.herototimerbox-text p {
    background: -webkit-linear-gradient(50deg,#d9108b 30%,#d9108b 42%,#d9108b 80%);
    -webkit-text-stroke: 5px transparent;
    color: #fff
}

.herototimerbox-text h2 sub {
    font-size: 33px;
    margin-right: -10px;
    position: relative;
    top: -21px;
    -webkit-background-clip: text
}

.herototimerbox-text p {
    font-size: 34px;
    font-weight: 600;
    -webkit-background-clip: text;
    text-align: center;
    letter-spacing: 1px;
    padding-left: 23px;
    margin-top: -14px
}

.herototime {
    margin-top: 27px
}

.timer {
    display: flex;
    gap: 10px;
    justify-content: center
}

.timer p {
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    margin: 0;
    text-transform: capitalize
}

.timer span {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    width: 58px;
    height: 58px;
    line-height: 60px;
    display: block;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 9px
}

.mblatestitem2-left,.timer br {
    display: none
}

.latestitem1-right a,.under826-lotto-reviewright a {
    height: 50px;
    display: block;
    line-height: 50px;
    border-radius: 5px;
    transition: .3s;
    text-align: center
}

.timer h5 {
    color: #fff;
    font-size: 47px;
    text-align: center;
    font-weight: 800;
    margin: 0
}

.under826-lotto-rvlr-area {
    padding: 90px 0;
    background: linear-gradient(360deg,#040404 -92.01%,#1a001f 93.7%)
}

.under826-lotto-review {
    padding-bottom: 120px
}

.under826-lotto-review-hd {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    gap: 50px
}

.under826-lotto-reviewleft h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    text-transform: capitalize;
    padding-bottom: 10px
}

.under826-lotto-reviewleft p {
    color: #ffffffde;
    font-size: 16px;
    margin: 0;
    font-weight: 400
}

.under826-lotto-reviewright a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    width: 290px;
    background-color: #fc7600;
    margin: auto 0 auto auto
}

.under826-lotto-review-box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    align-items: center;
    justify-content: space-around;
    grid-row-gap: 30px
}

.under826-lotto-review-item {
    border-radius: 10px;
    background-color: #ffffff1c;
    padding: 35px 25px;
    box-sizing: border-box;
    height: 100%
}

.mainunder827-lotto-latest {
    display: flex;
    gap: 35px;
    margin-top: 60px
}

.under827-lotto-latestbox {
    width: 50%;
    border-radius: 10px;
    background-color: #ffffff1c;
    padding: 35px
}

.latestitem1 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 32px;
    gap: 30px
}

.latestitem1-left h4 {
    color: #ff973b;
    font-size: 18px;
    font-weight: 700;
    margin: 0
}

.latestitem1-left p {
    color: #ffffffe8;
    font-size: 18px;
    font-weight: 400;
    margin: 0
}

.latestitem1-left p span {
    font-weight: 900
}

.latestitem1-right a {
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    width: 150px;
    background-color: #8f00f5
}

.latestitem2 {
    display: flex;
    align-items: end;
    justify-content: space-between;
    box-sizing: border-box
}

.latestitem2-left p {
    color: #fff;
    font-size: 18px;
    margin: 0;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 12px
}

.latestitem2-left ul li {
    color: #0034ab;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: #fff;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    margin-right: 6px
}

.latestitem2-right p {
    color: #fff;
    font-size: 16px;
    margin: 0;
    font-weight: 400;
    text-align: right
}

.latestitem2-right h3 {
    color: #fff;
    font-size: 20px;
    text-align: right;
    font-weight: 800;
    margin: 0;
    padding-top: 10px
}

.form-area {
    padding: 80px 0 90px 0 !important;
}
